<% provide(:title, "About") %>

<h1>Our Mission</h1>

<p>
  TeamThrive is an initiative aimed at alleviating child hunger in Delaware
  County by providing after-school meals and culinary arts workshops at
  low-income schools. In partnership with
  <a target="_blank" href="https://www.philabundance.org/">Philabundance</a>
  and the <a target="_blank" href="http://www.chestereducation.org/">Chester
  Education Foundation</a> (CEF), we are poised to launch our programming at 
  the two public high schools in Chester, Pennsylvania. Currently, all students
  in the Chester Upland School District (CUSD) are guaranteed free breakfast 
  and lunch under the USDA's Community Eligibility Program; however, the
  unavailability of a third on-campus meal highlights a critical gap in the
  nutritional safety net that schools provide in low-income areas. TeamThrive
  seeks to fill this gap by ensuring that all students who attend after-school
  enrichment programs administered by the CEF are entitled to a square meal
  during these sesions.
</p>
