<div class="center jumbotron">
  <h1>TeamThrive</h1>
  <h2>
    Welcome to TeamThrive! This is a work in progress, and will be deployed
    fully in the coming months.
  </h2>

  <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>
</div>
