<div class="center jumbotron">
  <h1><%= render 'layouts/logo' %></h1>
  <h2>
    Going the distance to defeat child hunger.
  </h2>

  <% if logged_in? %>
    <%= link_to "Upload an Activity", new_activity_path, class: "btn btn-lg" %>
  <% else %>
    <%= link_to "Join the Team", signup_path, class: "btn btn-lg" %>
  <% end %>
</div>
