/* Activities list */

.activities {
  list-style: none;
  padding: 0;

  li {
    padding: 10px 0;
    border-top: 1px solid $gray-medium-light;

    .title {
      display: block;
      margin-left: 60px;
      font-weight: bold;

      a {
        color: black;
      }
    }

    .user {
      margin-left: 60px;
      padding-top: 0;
      display: block;

      a {
        color: black;
      }
    }

    .date {
      display: block;
      margin-left: 60px;
    }

    .data {
      display: block;
      margin-left: 60px;
    }

    .distance {
      display: block;
      margin-left: 60px;
    }

    .gravatar {
      float: left;
      margin-right: 10px;
      margin-top: 5px;
    }
  }
}

.strava-activities {
  li {
    .btn {
      width: 100%;
      float: right;
    }
  }
}

.progress.active {
  .progress-bar {
    -webkit-transition: none !important;
    transition: none !important;
  }
}
