/* general */

body {
  padding-top: 60px;
  background-color: $background-color;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;

  h1 {
    margin-bottom: 10px;
  }
}

.container {
  max-width: 1000px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.5em;
}

.logo {
  font-family: 'Nunito', sans-serif;
  letter-spacing: -1px;

  .logo-light {
    color: $gray-light;
  }

  .logo-dark {
    color: $theme-blue;
  }
}

ul.pagination {
  li:not(.active) a {
    color: $theme-blue;
  }

  li.active a {
    color: white;
    background-color: $theme-blue;
    border-color: $theme-dark-blue;

    &:hover {
      background-color: $theme-light-blue;
      border-color: $theme-dark-blue;
    }
  }
}

/* header */

.navbar {
  border-bottom: 1px solid $gray-medium-light;
  background-color: white;

  li:hover {
    color: $theme-blue;
  }

  ul {
    box-shadow: none;
  }

  .link a {
    color: $gray-light;
  }

  #logo {
    font-weight: bold;
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    padding-top: 9px;
    text-decoration: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;

  .logo {
    height: 50px;
    float: left;
    width: 33.3%;

    img {
      max-height: 100%;
      max-width: 100%;
    }
  }

  a {
    color: $gray-light;

    &:hover {
      color: $gray-light;
    }
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box-sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;

  &.half-field {
    width: 49.3%;

    &.half-field-left {
      float: left;
    }

    &.half-field-right {
      float:right;
    }
  }
}

input {
  height: auto !important;
}

.btn-theme {
  color: white;
  background-color: $theme-blue;
  border-color: $theme-dark-blue;

  &:hover, &:active, &:focus {
    color: white;
    background-color: $theme-light-blue;
    border-color: $theme-dark-blue;
  }
}

#error-explanation {
  color: red; 
}

.field_with_errors {
  @extend .has-error;

  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: 10px;
  margin-bottom: 10px;

  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}
