// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Sidebar

aside {
  section {
    margin-top: 20px;
    padding: 10px 0;

    &.user-info {
      margin-top: 20px;
    }

    &:first-child {
      border: 0;
      padding-top: 0;
    }

    span {
      display: block;
      line-height: 1;
      margin-bottom: 3px;
    }

    h1 {
      font-size: 1.4em;
      letter-spacing: -.5px;
      margin-bottom: 3px;
      margin-top: 0;
      text-align: left;
    }
  }
}

.gravatar {
  border-radius: 50%;
  float: left;
  margin-right: 10px;
}

.gravatar-edit {
  clear: left;
  margin-top: 15px;
}

.edit-form {
  clear: left;
  padding-top: 15px;
}

// Users index

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid gray;
  }
}
