$gray-medium-light: #eaeaea;
$dark-green: #2CC14F;
$light-green: #A9FFBD;
$theme-blue: $dark-green; // #5DBCD2;
$theme-light-blue: $light-green; // #71C4D8;
$theme-dark-blue: #3199b1;

$background-color: white;
