<footer class="footer">
  <%= link_to image_tag("strava_api_logos/powered\ by\ Strava/pwrdBy_strava_" + 
                        "gray/api_logo_pwrdBy_strava_horiz_gray.png", 
                        alt: "Powered by Strava"),
              'https://strava.com/' %>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Help", help_path %></li>
    </ul>
  </nav>
</footer>
